.app {
  text-align: center;
  margin: 0 0 5em;
}

.about {
  width: 65vw;
  margin: 0 auto;
}

.home {
  margin-top: 21vh;
}

.skills-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.icons {
  height: 2em;
  padding: 2em;
  display: inline-flex;
}

.font-awesome {
  color: gray;
}

.devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark, .devicon-javascript-plain, .devicon-nodejs-plain, .devicon-react-original-wordmark, .devicon-python-plain-wordmark, .devicon-postgresql-plain-wordmark, .devicon-mongodb-plain-wordmark, .devicon-express-original-wordmark, .devicon-sequelize-plain-wordmark {
  font-size: 3em;
}

.projects {
  overflow-y: scroll;
}

.card-image {
  opacity: 0.6;
}


footer {
  height: 7vh;
  width: 100vw;
  bottom: 0;
  background-color: #41545E;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}








