.app {
  text-align: center;
  margin: 0 0 5em;
  font-family: 'Londrina Solid';
}

.about {
  display: inline-block;
  width: 65vw;
  margin: 0 auto;
  padding: 2em;
}

.home {
  margin-top: 25vh;
}

.skills-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  /* width: 65vw; */
  margin: 0 auto;
}

.icons {
  height: 2em;
  padding: 2em;
  display: inline-block;
}

.font-awesome {
  color: gray;
}

.devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark, .devicon-javascript-plain, .devicon-nodejs-plain, .devicon-react-original-wordmark, .devicon-python-plain-wordmark, .devicon-postgresql-plain-wordmark, .devicon-mongodb-plain-wordmark, .devicon-express-original, .devicon-sequelize-plain, .devicon-sass-original, .devicon-bootstrap-plain-wordmark {
  font-size: 3em;
}

.card-image {
  opacity: 0.6;
}

.contact {
  margin-top: 14em;
}

p {
  color: gray;
}

footer {
  height: 7vh;
  width: 100vw;
  bottom: 0;
  background-color: #41545E;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}








