.app {
  text-align: center;
}

.about {
  width: 50vw;
  margin: 0 auto;
}

.home {
  margin-top: 35vh;
}

.skills {
  display: inline-flex;
  margin: 0 auto;
}

.projects {
  margin: 5em;
  padding: 5em;
}

.icons {
  height: 2em;
  padding: 2em;
  display: inline-flex;
}

.font-awesome {
  color: gray;
}

.devicon-html5-plain-wordmark, .devicon-css3-plain-wordmark, .devicon-javascript-plain, .devicon-nodejs-plain, .devicon-react-original-wordmark, .devicon-python-plain-wordmark, .devicon-postgresql-plain-wordmark, .devicon-mongodb-plain-wordmark, .devicon-express-original-wordmark, .devicon-sequelize-plain-wordmark {
  font-size: 3em;
}

footer {
  height: 7vh;
  width: 100vw;
  bottom: 0;
  background-color: #41545E;
  font-size: 16px;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}








